/* This is the default css for the main webpage*/
/*
Primary Color: #67AFE1
Secondary Color: #945371
    Secondary Secondary Color: #E072A6
Tertiary Color: #829463
    Secondary Tertiary Color: #B3E063
*/
/* TODO:
    Update colors
*/
body {
    background-color: #291F26;
    color: white;
    text-align: center;
}

h1,
h3 {
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    background-color: #717575;
    border-radius: 25px;

    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: aliceblue;
    text-shadow: black 2px 1px 2px;
    display: block;
    text-align: center;
    padding: 6px 50px 15px;
    text-decoration-line: none;
}

ul li {
    border-block-start: 10px solid #717575;
}

ul li:hover {
    background-color: #4AC2BE;
    color:#291F26; 
    border-block-start: 10px solid white; /*place in active tab*/
    writing-mode: horizontal-tb;
    /*background: linear-gradient(0.25turn, #717575, #4AC2BE 25%,#4AC2BE 75%, #717575 ); */
}
