/* This is the default css for the main webpage*/
/*
Primary Color: #67AFE1
Secondary Color: #945371
    Secondary Secondary Color: #E072A6
Tertiary Color: #829463
    Secondary Tertiary Color: #B3E063
*/
body {
    background-color: #67AFE1;
    color: white;
    text-align: center;
}

h1,
h3 {
    color: white;
    text-align: center;
}